.*
!/.gitignore
project/target/
project/project/
project/scala*/
target/*
target/scala-2.10/cache/signal-collect-dcops/compile/inc_compile

target/scala-2.10/cache/signal-collect-dcops/compile/inc_compile

target/scala-2.10/cache/signal-collect-dcops/global/update/inputs

target/scala-2.10/cache/signal-collect-dcops/global/update/inputs

target/scala-2.10/cache/signal-collect-dcops/global/update/output

target/streams/$global/compilers/$global/out

target/streams/compile/compile/$global/out

target/streams/compile/compile/$global/out
